Repository dtgoitia/direnv-backup: changes, and which pre-commit hooks are due for each by the changed paths.
All: tests, pkgbuild

.pre-commit-config.yaml:

---
default_stages: [commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
        stages: [commit]
      - id: end-of-file-fixer
        stages: [commit]
      - id: debug-statements
        stages: [commit]
      - id: check-yaml

  # yaml
  - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
    rev: 0.2.2
    hooks:
      - id: yamlfmt
        args: [--sequence, '4', --offset, '2', --width, '150']

  # python
  - repo: https://github.com/pycqa/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        args: [--config, setup.cfg]
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
        args: [setup.cfg]
  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
      - id: black
        language_version: python3.10
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.971
    hooks:
      - id: mypy
        pass_filenames: false
        args: [--config-file, setup.cfg, --pretty, .]

  - repo: local
    hooks:
      - id: tests
        name: tests
        entry: ./tests/precommit-tests.sh
        language: system
        files: .*\.py
        verbose: false  # only show output on failure

      - id: pkgbuild
        name: pkgbuild
        entry: python -m devex.cli.assert_pkgbuild_status --verbose
        language: system
        files: (pyproject.toml|PKGBUILD)
        pass_filenames: false  # do not pass files in `files` to the command in`entry`
        verbose: false  # only show output on failure

systemd: fix timer unit
  systemd/direnv-backup.timer
Due: none

devex: tune mypy checks
  Makefile
  setup.cfg
  tests/helpers/environment.py
Due: tests

devex: assert docs show up to date systemd units
  .pre-commit-config.yaml
  README.md
  devex/cli/assert_docs_are_up_to_date.py
  devex/docs.py
  devex/systemd.py
Due: tests

Bump version: 0.1.0 -> 0.1.1
  PKGBUILD
  pyproject.toml
Due: pkgbuild

docs: link to systemd files instead of displaying content
  .pre-commit-config.yaml
  README.md
Due: none

cleanup: remove WIP file
  WIP
Due: none

WIP_UNDO_ME
  Makefile
  PKGBUILD
  WIP
  scripts/in_container/install_pkgbuild_from_branch.sh
Due: pkgbuild
